.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-details {
  padding: 10px 0;
}

.product-name {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.product-price {
  font-size: 16px;
  color: #333;
}
.router-link-exact-active{
  color:#12b488;
}
.copyright{text-align: center;}
@media screen and (min-width: 800px) {
.desktop .relative, .product-detail img{height: 500px !important;}
}